* {
    border: 1px solid red;
    font-family: system-ui;
}

body {
    background-color: #e8e8e8;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    left: 0;
}

a:visited {
    color: black;
}